<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Acerca de</h4>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Servicios</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Inventario</a>
          <a href="#" class="item">FRIL</a>
          <a href="#" class="item">Buscador de funcionarios</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Gobierno Regional de Los Ríos</h4>
      </div>
    </div>
  </div>
</div>