.ui.inverted.vertical.footer.segment
  .ui.container
    .ui.stackable.inverted.divided.equal.height.stackable.grid
      .three.wide.column
        %h4.ui.inverted.header Acerca de
      .three.wide.column
        %h4.ui.inverted.header Servicios
        .ui.inverted.link.list
          %a.item{:href => "#"} Inventario
          %a.item{:href => "#"} FRIL
          %a.item{:href => "#"} Buscador de funcionarios
      .seven.wide.column
        %h4.ui.inverted.header Gobierno Regional de Los Ríos