.ui.fixed.menu
  - if user_signed_in?
    %a.item#sidebutton
      %i.sidebar.icon
      Menu
    .ui.container
      .item
        %img(src="http://216.155.90.144/wp/wp-content/uploads/2014/07/logotipo_gorelosrios_transparente.gif" alt="")
      .right.menu
        %a= link_to 'Inicio', root_path, class: 'item'
        %a= link_to full_name, edit_user_registration_path, class: 'item'
        %a= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: 'item'
  - else
    .ui.container
      .item
        %img(src="http://216.155.90.144/wp/wp-content/uploads/2014/07/logotipo_gorelosrios_transparente.gif" alt="")
      .right.menu
        %a= link_to "Iniciar sesión", new_user_session_path, class: 'item'
